* {
    font-family: sans-serif;
}

#main {
    text-align: center;
}

#buttonsWnumbers {
    display: flex;
    flex-direction: column;
    margin-left: 40%;
    margin-right: 40%;
}

button {
    padding: 10px;
    width: 50px;
}

input {
    width: 20em;
}

